# Classification Exercises

In [1]:
import pandas as pd
from pydataset import data
import split_scale

import sklearn.impute
import sklearn.model_selection
import sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

import acquire
import prepare

## Data Acquisition

## 1. Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data("iris")

* print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

* print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

* print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

* print the data type of each column

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

* print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 2. Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [8]:
df_excel = pd.read_excel("Spreadsheets_Exercises.xlsx")

* assign the first 100 rows to a new dataframe, df_excel_sample

In [9]:
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

(100, 12)

* print the number of rows of your original dataframe

In [10]:
df_excel.shape

(7049, 12)

* print the first 5 column names

In [11]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

* print the column names that have a data type of object

In [12]:
df_excel.select_dtypes(include="object").columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

* compute the range for each of the numeric variables.

In [13]:
df_excel.select_dtypes(exclude="object").apply(lambda col: col.max() - col.min())

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

## 3. Read the data from this google sheet into a dataframe, df_google

In [14]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

print the first 3 rows

In [15]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [16]:
df_google.shape

(891, 12)

print the column names

In [17]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

print the data type of each column

In [18]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

print the summary statistics for each of the numeric variables

In [19]:
df_google.select_dtypes(exclude="object").apply(lambda col: col.describe())

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

print the unique values for each of your categorical variables

In [20]:
df_google.select_dtypes(include="object").apply(lambda col: col.nunique(dropna = True))

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

In [21]:
for col in list(df_google.select_dtypes(include="object")):
    print(col)
    print('-------------')
    print(df_google[col].value_counts(dropna=False))
    print('-------------')

Name
-------------
Lam, Mr. Len                                           1
Guggenheim, Mr. Benjamin                               1
Arnold-Franchi, Mr. Josef                              1
Matthews, Mr. William John                             1
Goodwin, Miss. Lillian Amy                             1
                                                      ..
Vande Walle, Mr. Nestor Cyriel                         1
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)    1
Lemore, Mrs. (Amelia Milley)                           1
Hold, Mr. Stephen                                      1
Wells, Miss. Joan                                      1
Name: Name, Length: 891, dtype: int64
-------------
Sex
-------------
male      577
female    314
Name: Sex, dtype: int64
-------------
Ticket
-------------
347082      7
CA. 2343    7
1601        7
347088      6
CA 2144     6
           ..
4579        1
349245      1
19947       1
364511      1
65304       1
Name: Ticket, Length: 681, dtype: int64
-------------
Cabin
-------------
NaN                687
G6                   4
C23 C25 C27          4
B96 B98              4
C22 C26              3
F33                  3
F2                   3
E101                 3
D                    3
B49                  2
E8                   2
B77                  2
C52                  2
D35                  2
B5                   2
E67                  2
E33                  2
C92                  2
B57 B59 B63 B66      2
D17                  2
C65                  2
C125                 2
D36                  2
C2                   2
C93                  2
B51 B53 B55          2
B58 B60              2
E44                  2
C68                  2
C83                  2
F G73                2
B28                  2
B18                  2
B35                  2
D20                  2
F4                   2
E121                 2
B22                  2
C123                 2
C126                 2
D26                  2
C124                 2
C78                  2
B20                  2
D33                  2
E25                  2
E24                  2
B37                  1
D15                  1
C50                  1
B50                  1
B19                  1
C70                  1
E77                  1
E31                  1
F38                  1
C85                  1
B94                  1
C86                  1
E34                  1
D9                   1
T                    1
A7                   1
B41                  1
B4                   1
C46                  1
A6                   1
A32                  1
D46                  1
C30                  1
A31                  1
A14                  1
C90                  1
F E69                1
D30                  1
E46                  1
B78                  1
B73                  1
C91                  1
C99                  1
B71                  1
C45                  1
D37                  1
B80                  1
E40                  1
B30                  1
E36                  1
B3                   1
D6                   1
B101                 1
B69                  1
D49                  1
C7                   1
C128                 1
A5                   1
C95                  1
D47                  1
A34                  1
C104                 1
D10 D12              1
C110                 1
C32                  1
E49                  1
C87                  1
A36                  1
E10                  1
D45                  1
E17                  1
A20                  1
F G63                1
E68                  1
C103                 1
C54                  1
E58                  1
E63                  1
B38                  1
E50                  1
C62 C64              1
C101                 1
C111                 1
C82                  1
D21                  1
B79                  1
B39                  1
D48                  1
D11                  1
A26                  1
C106                 1
A23                  1
A19                  1
A24                  1
E12                  1
D50                  1
B102                 1
B86                  1
E38                  1
B42                  1
C118                 1
A10                  1
D19                  1
C148                 1
C47                  1
C49                  1
D56                  1
D7                   1
A16                  1
D28                  1
B82 B84              1
Name: Cabin, dtype: int64
-------------
Embarked
-------------
S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64
-------------

# Data Preparation Exercises

## 1 Use the function defined in acquire.py to load the iris data.

In [22]:
import acquire

In [23]:
iris = acquire.get_iris_data()

Drop the species_id and measurement_id columns.

In [24]:
iris = iris.drop(columns=["species_id", "measurement_id"])

Rename the species_name column to just species.

In [25]:
iris = iris.rename(columns = {"species_name" : "species"})

Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?

The `inverse_transform` seems to be the opposite, and lets us reverse the effects of the encoder.

In [26]:
train, test = sklearn.model_selection.train_test_split(iris, random_state=123, train_size= .8)

In [27]:
le = LabelEncoder()

In [28]:
train['species'] = le.fit_transform(train.species)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
test['species'] = le.transform(test.species)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
# encoder = sklearn.preprocessing.OneHotEncoder()

# encoder.fit(train[["species"]])

# m = encoder.transform(train[["species"]]).todense()

# train = pd.concat([train, pd.DataFrame(m, columns=encoder.categories_[0], index=train.index)], axis = 1).drop(columns="species")

# m = encoder.transform(test[["species"]]).todense()

# test = pd.concat([test, pd.DataFrame(m, columns=encoder.categories_[0], index=test.index)], axis = 1).drop(columns="species")

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [31]:
def drop_columns(df):
    return df.drop(columns=[
        "species_id",
        "measurement_id"
        
    ])

def rename_columns(df):
    return df.rename(columns = {"species_name" : "species"})

def encode_iris(train, test):
    encoder = sklearn.preprocessing.OneHotEncoder()

    encoder.fit(train[["species"]])

    m = encoder.transform(train[["species"]]).todense()

    train = pd.concat([train, pd.DataFrame(m, columns=encoder.categories_[0], index=train.index)], axis = 1).drop(columns="species")

    m = encoder.transform(test[["species"]]).todense()

    test = pd.concat([test, pd.DataFrame(m, columns=encoder.categories_[0], index=test.index)], axis = 1).drop(columns="species")
    
    return train, test

def prep_iris(df):
    df = drop_columns(df)
    df = rename_columns(df)
    train, test = sklearn.model_selection.train_test_split(df, random_state=123, train_size= .8)
    train, test = encode_iris(train, test)
    return train, test

## 2 Use the function you defined in acquire.py to load the titanic data set.

In [32]:
titanic = acquire.get_titanic_data()

In [33]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

Handle the missing values in the embark_town and embarked columns.

In [34]:
titanic.embark_town = titanic.embark_town.fillna(titanic.embark_town.value_counts().head(1).index[0])

In [35]:
titanic.embarked = titanic.embarked.fillna(titanic.embarked.value_counts().head(1).index[0])

Remove the deck column.

In [36]:
titanic = titanic.drop(columns="deck")

Use a label encoder to transform the embarked column.

In [37]:
train, test = sklearn.model_selection.train_test_split(titanic, random_state=123, train_size = .8)

In [38]:
encoder = sklearn.preprocessing.OneHotEncoder()

encoder.fit(train[["embarked"]])

m = encoder.transform(train[["embarked"]]).todense()

train = pd.concat([train, pd.DataFrame(m, columns=encoder.categories_[0], index=train.index)], axis = 1).drop(columns="embarked")

m = encoder.transform(test[["embarked"]]).todense()

test = pd.concat([test, pd.DataFrame(m, columns=encoder.categories_[0], index=test.index)], axis = 1).drop(columns="embarked")

Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?

This is beneficial because age and fare are now in a more comparable format with each other. 

This is not benefecial when the data is on the same scale, or there is only one X variable

In [39]:
X_train = train[["age", "fare"]]
X_test = test[["age", "fare"]]

scaler, train_scaled, test_scaled = split_scale.min_max_scaler(X_train, X_test)

In [40]:
train["age"] = train_scaled["age"]
train["fare"] = train_scaled["fare"]
test["age"] = test_scaled["age"]
test["fare"] = test_scaled["fare"]

Fill the missing values in age. The way you fill these values is up to you. Consider the tradeoffs of different methods.

In [41]:
test.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,class,embark_town,alone,C,Q,S
172,172,1,3,female,0.003891,1,1,0.044979,Third,Southampton,0,0.0,0.0,1.0
524,524,0,3,male,NaN,0,0,0.029206,Third,Cherbourg,1,1.0,0.0,0.0
452,452,0,1,male,0.455253,0,0,0.112112,First,Cherbourg,1,1.0,0.0,0.0
170,170,0,1,male,0.937743,0,0,0.135342,First,Southampton,1,0.0,0.0,1.0
620,620,0,3,male,0.408560,1,0,0.058396,Third,Cherbourg,0,1.0,0.0,0.0

In [42]:
imputer = sklearn.impute.SimpleImputer(strategy = "mean")

imputer.fit(train[["age"]])

train.age = imputer.transform(train[["age"]])
test.age = imputer.transform(test[["age"]])

Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.